<template>
  <div class="container-fluid">
    <report-header-info v-if="false"></report-header-info>
    <navigations v-if="false"></navigations>

    <crud-server-table
      ref="balance-set-table"
      :title="'Balance Set Condition'"
      :url="'./api/balance_set_conditions'"
      :columns="balanceColumns"
      :options="balanceSetOptions"
      :defaultForm="defaultForm"
      :formType="formType"
      :attrs="attrs"
      :noAction="true"
      @loaded="onLoaded"
    >
      <div slot="additionalActions" slot-scope="props">
        <button
          type="button"
          class="btn btn-info"
          @click.prevent="copy(props.row)"
        >
          <i class="fa fa-copy"></i> Copy
        </button>
      </div>

      <div slot="beforeTable">
        <div class="row btm">
          <div class="col-md-12">
            <div class="center center-block">{{ balanceReportDate }}</div>
            <a
              @click.prevent="move(--balanceSetDateCount)"
              class="prev btn btn-success pull-left"
              >Prev</a
            >
            <a
              v-if="balanceSetDateCount < 0"
              @click.prevent="move(++balanceSetDateCount)"
              class="btn btn-success next pull-right"
              >Next >></a
            >
          </div>
        </div>
      </div>
    </crud-server-table>

    <crud-server-table
      ref="table"
      :title="'Production Results'"
      :url="'./api/production_results'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.report_header_id,
      }"
      :defaultForm="defaultForm"
      :formType="formType"
      :attrs="attrs"
    >
      <div slot="additionalActions" slot-scope="props">
        <button class="btn btn-warning mt" @click="copyOnClick(props.row)">
          Copy
        </button>
      </div>

      <div slot="model-create" slot-scope="props">
        <div class="form-group">
          <label for="model">Model</label>
          <v-select
            v-model="props.form.model"
            :value="schedule.model"
            @input="setModelSelected"
            label="model"
            @search="onSearch"
            name="model"
            :filterable="false"
            :options="schedules"
            placeholder="Silahkan ketik model, data diambil dari schedule"
            aria-placeholder="Silahkan ketik model, data diambil dari schedule"
          >
            <template slot="no-options">
              <i>Type to search model</i>
            </template>

            <template slot="option" slot-scope="schedule">
              <b> {{ schedule.model }} </b> - {{ schedule.lot }} -
              {{ schedule.qty }} | run_date : {{ schedule.run_date }}
            </template>

            <slot name="selected-option" slot-scope="schedule">
              {{ schedule.model }}
            </slot>
          </v-select>
        </div>
      </div>

      <div slot="model-edit" slot-scope="props">
        <div class="form-group">
          <label for="model">Model</label>
          <v-select
            v-model="props.formEdit.model"
            :value="props.formEdit.model"
            @input="setModelSelectedEdit"
            label="model"
            @search="onSearch"
            name="model"
            :filterable="false"
            :options="schedules"
            placeholder="Silahkan ketik model, data diambil dari schedule"
            aria-placeholder="Silahkan ketik model, data diambil dari schedule"
          >
            <template slot="no-options">
              <i>Type to search model</i>
            </template>

            <template slot="option" slot-scope="schedule">
              <b> {{ schedule.model }} </b> - {{ schedule.lot }} -
              {{ schedule.qty }} | run_date : {{ schedule.run_date }}
            </template>

            <slot name="selected-option" slot-scope="schedule">
              {{ schedule.model }}
            </slot>
          </v-select>
        </div>
      </div>
    </crud-server-table>
  </div>
</template>

<script>
import ReportHeaderInfo from "./ReportHeaderInfo.vue";
import CrudServerTable from "./CrudServerTable.vue";
import Navigations from "./NewNav.vue";
import vSelect from "vue-select";
export default {
  mounted() {
    // console.log(this.$route);
  },
  data() {
    return {
      production_date: null,
      production_results: [],
      schedule: {},
      schedules: [],
      columns: [
        "model",
        "lot_no",
        "lot_qty",
        "shift",
        "input",
        "total_input",
        "balance",
        "output",
        "total_output",
        "actual_balance",
        "ocs_balance",
        "sn_output",
        "remark",
      ],
      balanceColumns: [
        "model",
        "lot_no",
        "lot_qty",
        "shift",
        "input",
        "total_input",
        "balance",
        "output",
        "total_output",
        "actual_balance",
        "ocs_balance",
        "remark",
        // "sn_output"
      ],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.report_header_id) {
            data.query.report_header_id = this.$route.query.report_header_id;
          }

          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function (e) {
              this.dispatch("error", e);
            });
        },
      },
      balanceSetOptions: {
        filterByColumn: true,
        requestFunction(data) {
          let params = {
            ...data,
            report_header_id: this.$route.query.report_header_id,
          };

          return axios
            .get(this.url, {
              params: params,
            })
            .catch(function (e) {
              this.dispatch("error", e);
            });
        },
        params: {},
      },
      balanceSetDateCount: 0,
      balanceReportDate: null,
      defaultForm: {
        input: "number",
        lot_qty: "number",
        total_input: "number",
        balance: "number",
        output: "number",
        total_output: "number",
        actual_output: "number",
        ocs_output: "number",
        actual_balance: "number",
        ocs_balance: "number",
      },
      formType: {},
      attrs: {
        lot_qty: { min: 0 },
        input: { min: 0 },
        total_input: { min: 0 },
        balance: { min: 0 },
        output: { min: 0 },
        total_output: { min: 0 },
        actual_balance: { min: 0 },
        ocs_balance: { min: 0 },
        sn_output: { maxlength: 20 },
      },
    };
  },
  methods: {
    copy(row) {
      let table = this.$refs.table;
      let data = row;
      let res = {};
      for (var i in table.columns) {
        let key = table.columns[i];
        if (data[key] != undefined) {
          res[key] = data[key];
        }
      }

      table.form = res;
      table.showModal();
      console.log({ table, row, res });
    },

    copyOnClick(row) {
      // row.hasOwnProperty("lastName"); // true
      // delete row["lastName"];
      let selected = {};
      selected["model"] = row.model;
      selected["lot_no"] = row.lot_no;
      selected["lot_qty"] = row.lot_qty;
      console.log("tetete", selected);
      let temp = {
        ...this.defaultFormValues,
        ...selected,
      };

      console.log({ temp });

      this.$refs.table.setForm(temp);

      this.$refs.table.showModal();

      // reset,
      // this.defaultFormValues = temp;
    },

    onLoaded(res) {
      console.log({ res });
      const response = res.data;
      const data = response.data;
      if (data.length > 0) {
        let row = data[0];
        let report_date = row.report_date;

        this.balanceReportDate = report_date;
      } else {
        this.balanceReportDate = "data not found";
      }
    },

    move(count) {
      this.balanceSetOptions.params = { move: count };
      const balance = this.$refs["balance-set-table"];
      const table = balance.$refs.table;
      setTimeout(function () {
        table.refresh(), 1;
      });
    },

    setModelSelected(val, type = "form") {
      let table = this.$refs.table;

      table[type]["model"] = val.model;
      table[type]["lot_no"] = val.lot;
      table[type]["lot_qty"] = val.qty;
    },

    setModelSelectedEdit(val) {
      this.setModelSelected(val, "formEdit");
    },

    onSearch(search, loading) {
      if (search.length > 3) {
        this.search(loading, search, this);
        loading(true);
      }
    },
    search: _.debounce((loading, search, vm) => {
      let params = { model: search };

      axios
        .get("./api/schedules", { params })
        .then((res) => res.data)
        .then((res) => {
          console.log(res.data, "SCHEDULES");
          vm.schedules = res.data;
          loading(false);
        });
    }, 350),
  },
  components: { ReportHeaderInfo, CrudServerTable, Navigations, vSelect },
};
</script>

<style>
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn-next {
  left: 100%;
  bottom: -17px; /* half of the button height */
  margin-left: -77px; /* half of the button width */
  /* instead of bottom and margin-left, you can use translateX as well. */
}

.btn-prev {
  left: 2%;
  bottom: -17px; /* half of the button height */
  margin-right: -77px; /* half of the button width */
  /* instead of bottom and margin-left, you can use translateX as well. */
}

.btm {
  margin-bottom: 5px;
}
</style>
