<template>
  <div>
    <crud-server-table
      ref="table"
      :title="'Indirect Operation Hours ( LOST TIME )'"
      :url="'../api/admin_indirect_oph_lost_times/'+ $route.query.id"
      :columns="columns"
      :options="options"
      :additionalForm="{
        report_header_id: $route.query.id,
        total: '',
      }"
      :defaultForm="defaultForm"
      :excludedForm="excludedForm"
      :noAction="noAction"
    >
      <!-- :noAddAction="true" -->
      <!-- <div slot="actions"></div> -->
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {
    // console.log("LOSTIME ::::: ", this.$route);
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      columns: ["report_header_id", "group", "description", "grand_total"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.operation_summary_id) {
            data.query.operation_summary_id = this.$route.query.operation_summary_id;
          }

          let params = {
            ...data,
            operation_summary_id: this.$route.query.operation_summary_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      defaultForm: {
        qty: "number",
        standard_time: "number",
        total: "number"
      },
      excludedForm: ["total"]
    };
  },
  methods: {},
  components: { CrudServerTable }
};
</script>

<style></style>
