<template>
  <div>
    <crud-server-table
      ref="table"
      :title="'Indirect Operation Hours ( Indirect Time )'"
      :url="'../api/indirect_op_hours'"
      :columns="columns"
      :options="options"
      :additionalForm="{
        operation_summary_id: $route.query.operation_summary_id,
      }"
      :defaultForm="defaultForm"
      :noAction="noAction"
      :excludedForm="excludedForm"
    >
      <!-- create -->
      <div class="form-group" slot-scope="props" slot="type-create">
        <label for="type">type</label>
        <select class="form-control" name="type" v-model="props.form.type">
          <option v-for="(value, key) in types" :value="value.text" :key="key">{{ value.text }}</option>
        </select>
      </div>
      <!-- update -->
      <div class="form-group" slot-scope="props" slot="type-edit">
        <label for="type">type</label>
        <select class="form-control" name="type" v-model="props.formEdit.type">
          <option v-for="(value, key) in types" :value="value.text" :key="key">{{ value.text }}</option>
        </select>
      </div>
    </crud-server-table>
  </div>
</template>

<script>
import CrudServerTable from "../CrudServerTable.vue";
export default {
  mounted() {
    this.fetchTypes();
  },
  props: {
    noAction: {
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      columns: ["operation_summary_id", "id", "type", "value"],
      excludedForm: ["operation_summary_id", "id"],
      options: {
        filterByColumn: true,
        requestFunction(data) {
          if (this.$route.query.operation_summary_id) {
            data.query.operation_summary_id = this.$route.query.operation_summary_id;
          }

          let params = {
            ...data,
            operation_summary_id: this.$route.query.operation_summary_id
          };

          return axios
            .get(this.url, {
              params: params
            })
            .catch(function(e) {
              this.dispatch("error", e);
            });
        }
      },
      types: [],
      defaultForm: {
        qty: "number"
      }
    };
  },
  methods: {
    fetchTypes() {
      axios
        .get("../api/master_indirect_op_hours/combo")
        .then(res => res.data)
        .then(data => {
          this.types = data.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  components: { CrudServerTable }
};
</script>

<style></style>
