<template>
<div>
  <op-summary />
  <indirect-op-hours-info />
  <actual-direct-op-hours-info />
</div>
</template>

<script>
import opSummary from './OpSummary.vue';
import IndirectOpHoursInfo from './IndirectOpHoursInfo.vue';
import ActualDirectOpHoursInfo from './ActualDirectOpHoursInfo.vue';

export default {
    components:{
        opSummary,
        IndirectOpHoursInfo,
        ActualDirectOpHoursInfo,
    }
}
</script>

<style>

</style>